/* 기본 바디 스타일 */
body {
    font-family: Arial, sans-serif; /* 웹페이지 기본 폰트 */
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    line-height: 1.6; /* 텍스트 줄 간격 */
    background-color: #f4f4f4; /* 배경색 설정 */
    color: #333; /* 텍스트 색상 */
}

/* 헤더 스타일 */
header {
    background-color: #002d26; /* 헤더 배경색 */
    padding: 20px 0; /* 상하단 패딩 */
    position: fixed; /* 헤더를 상단에 고정 */
    width: 100%; /* 헤더 너비 100% */
    top: 0; /* 화면 상단에 위치 */
    z-index: 1000; /* 다른 요소보다 위에 위치 */
}

/* 컨테이너 스타일: 중앙 정렬 및 최대 너비 설정 */
.container {
    width: 95%; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

/* 헤더 내 제목 스타일 */
header h1 {
    margin: 0; /* 기본 여백 제거 */
    text-align: left; /* 왼쪽 정렬 */
    font-size: 24px; /* 폰트 크기 */
    color: #fff; /* 텍스트 색상 흰색 */
}

/* 네비게이션 스타일 */
nav ul {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    text-align: right; /* 오른쪽 정렬 */
}

nav ul li {
    display: inline-block; /* 가로로 나열하며 블록 요소처럼 동작 */
    margin: 0 15px; /* 리스트 항목 간 간격 설정 */
}

nav ul li a {
    display: block; /* 링크를 블록 요소로 설정하여 박스 전체에 적용 */
    color: #fff; /* 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 텍스트 굵기 */
    padding: 10px 15px; /* 링크 패딩 */
    background-color: #004d40; /* 배경색 */
    border-radius: 5px; /* 모서리 둥글게 */
    width: 120px; /* 모든 링크의 너비를 일정하게 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
}

nav ul li a:hover {
    background-color: #00796b; /* 호버 시 배경색 변경 */
}

/* 섹션 스타일 */
section {
    padding: 100px 0; /* 상하단 패딩 */
    margin-top: 60px; /* 헤더와 겹치지 않도록 상단 여백 */
}

/* 홈 섹션 스타일 */
#home {
    background-image: url('https://songdocustoms.github.io/homepage.png'); /* 배경 이미지 */
    background-color: #e0f7fa; /* 배경색 */
    height: 100vh; /* 섹션 높이를 뷰포트 높이에 맞춤 */
    position: relative; /* 자식 요소의 상대적 위치 */
    display: flex; /* 플렉스 박스 사용 */
    align-items: left; /* 수직 중앙 정렬 */
    justify-content: left; /* 수평 중앙 정렬 */
    text-align: left; /* 텍스트 중앙 정렬 */
    color: #fff; /* 텍스트 색상 흰색 */
}

/* 홈 섹션 내 제목 스타일 */
#home h2 {
    font-size: 48px; /* 폰트 크기 */
    margin-bottom: 10px; /* 하단 여백 */
    z-index: 2; /* 레이어 순서 */
    color: #fff; /* 텍스트 색상 */
}

/* 홈 섹션 내 텍스트 스타일 */
#home p {
    font-size: 30px; /* 폰트 크기 */
    z-index: 2; /* 레이어 순서 */
}
